<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion de Stock</title>
</head>
<body>
    <h1>Bienvenue dans l'application de gestion de stock</h1>
    <a href="{{ url_for('nouvel_article') }}"><button>Ajouter un nouvel article</button></a>
    <br>
    <a href="{{ url_for('ajout_de_donnees') }}"><button>Ajouter des articles depuis un fichier</button></a>
    <br>
    <a href="{{ url_for('recherche') }}"><button>Rechercher des articles</button></a>
    <br>
    <a href="{{ url_for('suppression_par_nom') }}"><button>Suppression</button></a>
</body>
</html>
